{{!< layout/default.html}}

<div class="row">

  <!-- Post Content Column -->
  <div class="col-lg-8">

    <!-- Title -->
    <h1 class="mt-4">Transfer funds</h1>

    <!-- Author -->
    <p class="lead">
      for
      <a href="/event/{{params.eventId}}" class="showEventName"></a>
    </p>

    <hr>

    <div class="row">
      <form role="form">
        <input type="hidden" class="form-control" id="eventId" value="{{params.eventId}}">
        <button type="submit" class="btn btn-primary" id="transferButton">Transfer funds</button>
      </form>
    </div>
    <hr>
    <div class="row justify-content-center">
      <ul class="nav nav-pills nav-fill">
        <li><a class="nav-link" href="/event/{{params.eventId}}">Event details</a></li>
      </ul>
    </div>


  </div>

  <!-- Sidebar Widgets Column -->
  <div class="col-md-4">

    {{> pledged }}
    {{> admin }}

  </div>

</div>
<!-- /.row -->
{{> scripts }}
<script>
App.onLoad = () => {
  return App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails)
    .then(App.showAllParticipants);
};
</script>
