{{!< layout/default.html}}
<h1>End <a href="/event/{{params.eventId}}" class="showEventName"></a></h1>
<p>Ending the event will prevent further pledges or donations.</p>
<div class="row">
  <div class="column column-80">
    <p>This will automatically transfer any pledges made to participants who <a href="participants">completed the event</a> along with all sign-up fees. All other funds will be marked as 'available' for the sponsor to reclaim them.</p>
    <form role="form">
      <input type="hidden" id="eventId" value="{{params.eventId}}">
      <button type="submit" id="endButton">End event</button>
    </form>
    <nav class="event-nav">
      <ul>
        <li><a href="/event/{{params.eventId}}">Event details</a></li>
      </ul>
    </nav>
  </div>

  <div class="column column-20">
    {{> pledged }} {{> account }} {{> stage }} {{> admin }}
  </div>
</div>


{{> scripts }}
<script>
App.onLoad = () => {
  return App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails)
    .then(App.showAllParticipants)
    .then(() => App.setStage('end'));
};
</script>
