{{!< layout/default.html}}
<h1>Admin participants</h1>
<p class="lead"> for <a href="/event/{{params.eventId}}" class="showEventName"></a></p>

<div class="row">
  <div class="column column-80">
    <form role="form">
      <input type="hidden" id="eventId" value="{{params.eventId}}">
      <div>

        <div>
          <label>
            <input type="checkbox" class="check" id="checkAll"> Check All
          </label>
        </div>

        <div id="participantFormList">
        </div>
      </div>
      <button type="submit" id="completeButton">Mark complete</button>
    </form>
    <nav class="event-nav">
      <ul class="nav nav-pills nav-fill">
        <li><a class="nav-link" href="/event/{{params.eventId}}">Event details</a></li>
      </ul>
    </nav>
  </div>

  <div class="column column-20">
    {{> admin }} {{> account }}
  </div>


</div>
{{> scripts }}
<script>
App.onLoad = () => {
  return App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails)
    .then(App.showAllParticipants);
};
</script>
