{{!< layout/default.html}}
<h1>Close the event</h1>
<p>Finalise and close the event transferring any remaining unclaimed funds to the recipient.</p>
<div class="row">
  <div class="column column-80">
      <form role="form">
        <input type="hidden" class="form-control" id="eventId" value="{{params.eventId}}">
        <button type="submit" class="btn btn-primary" id="closeButton">Close</button>
      </form>
    <nav class="event-nav">
      <ul>
        <li>
          <a href="/event/{{params.eventId}}">Event details</a>
        </li>
      </ul>
    </nav>
  </div>
    
  <div class="column column-20">
    {{> admin }} {{> pledged }} {{> account }} {{> stage }}
  </div>
</div>

{{> scripts }}
<script>
App.onLoad = () => {
  return App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails)
    .then(App.showAllParticipants)
    .then(() => App.setStage('close'));
};
</script>
