{{!< layout/default.html}}
<h1>{{title}}</h1>

<div class="row">
  <div class="column column-80">
    <form>
      <div>
        <label for="eventName">Event Name</label>
        <input type="text" id="eventName" value="Test Event">
        <small id="eventNameHelp" class="form-text">The public name of the sponsored event.</small>
      </div>
      <div>
        <label for="signUpFee">Sign-up fee</label>
        <input type="number" id="signUpFee" value="0.02">
        <small id="signUpFeeHelp">The non-refundable fee (in Ether) charged to participants when they sign-up. Can be zero.</small>
      </div>
      <div class="form-group">
        <label for="recipientAddress">Recipient Address</label>
        <input type="text" id="recipientAddress" placeholder="Enter recipient address" value="0xE42D257631e6AE69f2E2F52C432D3051d71eaa51">
        <small id="recipientAddressHelp">This is the account of the recipient where funds will be sent after the event.</small>
      </div>
      <div class="form-group">
        <label for="recipientName">Recipient Name</label>
        <input type="text" id="recipientName" placeholder="Enter recipient name" value="Test Recipient Name">
        <small id="recipientNameHelp">The public name of the recipient.</small>
      </div>
      <button type="submit" id="createButton">Create</button>
    </form>
  </div>
  <div class="column column-20">

    {{> account }}

  </div>
  </div>
  {{> scripts }}
