{{!< layout/default.html}}
<h1><a href="/event/{{params.eventId}}" class="showEventName">…</a></h1>
<p> for <span class="showRecipientName">…</span> </p>

<div class="row">
  <div class="column column-80">
    <table>
      <tr>
        <th>Event</th>
        <td class="showEventId">{{params.eventId}}</td>
      </tr>
      <tr>
        <th>Status</th>
        <td class="showEventStatus">…</td>
      </tr>
      <tr>
        <th>Sign-up Fee</th>
        <td class="showSignUpFee">…</td>
      </tr>
      <tr>
        <th>Recipient Address</th>
        <td class="showRecipientAddress">…</td>
      </tr>
      <tr>
        <th>OrganiserId</th>
        <td class="showOrganiserId">…</td>
      </tr>
      <tr>
        <th>Participant count</th>
        <td class="showParticipantCount">…</td>
      </tr>
      <tr>
        <th>Pledge count</th>
        <td class="showPledgeCount">…</td>
      </tr>
      <tr>
    </table>
    <nav class="event-nav">
      <h2>Event navigation</h2>
      <ul>
        <li><a href="/event/{{params.eventId}}/participants">Event participants</a></li>
        <li><a href="/event/{{params.eventId}}/sign-up">Sign-up for this event</a></li>
      </ul>
    </nav>
  </div>

  <div class="column column-20">
    {{> pledged }}
    {{> stage }}
    {{> admin }}
  </div>
</div>

<!-- /.row -->
{{> scripts }}
<script>
App.onLoad = () => {
  App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails);
};
</script>
