{{!< layout/default.html}}
<h1><span class="showEventName"></span> participants</h1>

<div class="row">
  <div class="column column-80">
    <ul id="participantList"></ul>
    <nav class="event-nav">
      <h2>Event navigation</h2>
      <ul>
        <li><a href="/event/{{params.eventId}}">Event details</a></li>
      </ul>
    </nav>

  </div>
  <div class="column column-20">

  </div>
</div>
{{> scripts }}
<script>
App.onLoad = () => {
  return App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails)
    .then(App.showAllParticipants);
};
</script>
