{{!< layout/default.html}}
<h1><span class="showParticipantName">…</span></h1>
<p>is taking part in <a href="/event/{{params.eventId}}" class="showEventName">…</a> for <span class="showRecipientName">…</span></p>

<div class="row">
  <div class="column column-80">
    <table>
      <tr>
        <th>Event Name</th>
        <td><a href="/event/{{params.eventId}}" class="showEventName"></a></td>
      </tr>
      <tr>
        <th>Participant Name</th>
        <td class="showParticipantName"></td>
      </tr>
      <tr>
        <th>Participant Address</th>
        <td class="showParticipantAddress"></td>
      </tr>
    </table>
    <nav class="event-nav">
      <ul>
        <li><a href="/event/{{params.eventId}}/participant/{{params.participantId}}/pledge">Pledge to <span class="showParticipantName"></span></a></li>
      </ul>
    </nav>

  </div>
  <div class="column column-20">

  </div>
</div>

{{> scripts }}
<script>
App.onLoad = () => {
  return App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails)
    .then(() => App.showParticipantDetails({{params.participantId}}));
};
</script>
