{{!< layout/default.html}}
<h1>Sponsor <a href="/event/{{params.eventId}}/participant/{{params.participantId}}" class="showParticipantName">…</a></h1>
<p>
  to take part in
  <a href="/event/{{params.eventId}}" class="showEventName">…</a> for
  <a href="/event/{{params.eventId}}" class="showRecipientName">…</a>
</p>

<div class="row">
  <div class="column column-80">

    <form>
      <input type="hidden" id="pledgeEventId" placeholder="Enter event ID" value="{{params.eventId}}">
      <input type="hidden" id="pledgeParticipantId" placeholder="Enter participant ID" value="{{params.participantId}}">
      <div>
        <label for="sponsorName">Your Name</label>
        <input type="text" id="sponsorName" placeholder="Enter Sponsor name ID" value="Test Sponsor">
        <small id="sponsorNameHelp">This is the name that will appear next to the pledge.</small>
      </div>
      <div>
        <label for="sponsorAmount">Pledge amount</label>
        <input type="number" id="pledgeAmount" value="0.02">
        <small id="sponsorAmountHelp">The amount (in Ether) the sponsor the particpant for. Must be greater than zero.</small>
      </div>
      <button type="submit" id="pledgeButton">Pledge</button>
    </form>
  </div>

  <div class="column column-20">
    {{> account }}
  </div>

</div>
{{> scripts }}
<script>
App.onLoad = () => {
  return App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails)
    .then(() => App.showParticipantDetails({{params.participantId}}));
};
</script>
