{{!< layout/default.html}}
<h1>Sign up for <span class="showEventName"></span></h1>
<p>The sign-up fee for this event is: <span class="showSignUpFee"></span>.</p>

<div class="row">
  <div class="column column-80">
    <form>
      <div>
        <label for="signUpEventId">Event ID</label>
        <input type="text" id="signUpEventId" placeholder="Enter event ID" value="{{params.eventId}}">
        <small id="signUpEventIdHelp">This is the unique ID of the sponsored event.</small>
      </div>
      <div>
        <label for="participantName">Participant Name</label>
        <input type="text" id="participantName" placeholder="Enter event ID" value="Test Participant">
        <small id="signUpEventIdHelp">This is the public name of the person taking part.</small>
      </div>
      <button type="submit" id="signUpButton">Sign up</button>
    </form>
  </div>
  
  <div class="column column-20">
    {{> account }} {{> pledged }}
  </div>
</div>

{{> scripts }}
<script>
App.onLoad = () => {
  App.loadEvent("{{params.eventId}}")
    .then(App.showEventDetails);
};
</script>
