  <!-- Admin Widget -->
  <div id="admin-widget" class="admin">
    <h3>Admin</h3>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item"><a href="/admin/{{params.eventId}}/participants">Mark participants as complete</a></li>
        <li class="list-group-item"><a href="/admin/{{params.eventId}}/end">End the event</a></li>
        <li class="list-group-item"><a href="/admin/{{params.eventId}}/close">Close the event</a></li>
      </ul>
    </div>
  </div>

