          <!-- Admin Widget -->
          <div id="stage-widget" class="card my-4">
            <h3 class="card-header">Stage</h5>
            <div class="card-body">
              <p id="showEventStatus"></p>
              <ul>
                <li class="arrow-box create">Create</li>
                <li class="arrow-box open">Open</li>
                <li class="arrow-box end">End</li>
                <li class="arrow-box ended">Ended</li>
                <li class="arrow-box close">Close</li>
                <li class="closed">Closed</li>
              </ul>
            </div>
          </div>

