          <!-- Admin Widget -->
          <div id="stage-widget" class="card my-4">
            <h3 class="card-header">Stage</h5>
            <div class="card-body">
              <p id="showEventStatus"></p>
              <ul>
                <li class="arrow-box stage stage-create">Create</li>
                <li class="arrow-box stage stage-open">Open</li>
                <li class="arrow-box stage stage-end">End</li>
                <li class="arrow-box stage stage-ended">Ended</li>
                <li class="arrow-box stage stage-close">Close</li>
                <li class="stage stage-closed">Closed</li>
              </ul>
            </div>
          </div>

