<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Manage sponsored events though smart contracts">
  <meta name="author" content="Simon Madine">

  <title>{{title}} – Sponsored Block</title>

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
  <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
  <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <div id="status"></div>
  <main class="wrapper">

    {{> nav }}

    <section class="container">
      {{{content}}}
    </section>

    <footer class="container">
      <p>Copyright &copy; Sponsored Block 2018</p>
    </footer>
  </main>
</body>

</html>
